
/*=================================== Fonts folders ============================================*/

@import url("fonts.css");

/*=================================== обнул. ============================================*/

@import url("reset.css");

/*=================================== Стр 1 ============================================*/

h1,
.proactively,
.our,
.incubate {
	font-family: "Poppins", sans-serif;
}

main {
	margin-bottom: 35px;
	font-family: "Inter", sans-serif;
	color: #7D7D7D;
}

.block1,
footer {
	max-width: 722px;
	margin: 0 auto;
	padding: 15px 15px;
}

.ImageBusiness {
	margin-bottom: 37px;
}

h1 {
	color: #37393F;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 12px;
}

.Completely {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.46;
	margin-bottom: 42px;
}
.proactively {
	margin-bottom: 12px;
	color: #6B77E5;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
}
.customer{
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
	margin-bottom: 40px;
}

.block {
	font-size: 0;
	margin-bottom: 50px;
}

.Photo2 {
width: 331px;
margin-right: 29px;

}
.conteaner {
display: inline-block;
font-size: 18px;
width: 332px;

}
.our {
	color: #37393F;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 15px;
}
.incubate {
	color: #40DDB6;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 21px;
	}

	li {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 30px;
	}	

	.footer {
		font-size: 0;
		margin-bottom: 48px;
	}
	
	.consulting {
		color: #40DDB6;
		font-family: Poppins;
		font-size: 50px;
		font-style: normal;
		font-weight: 600;
		width: 200px;
		margin-right: 29px;
		display: inline-block;
	
		
	}
	
	.consulting1 {
		color: #40DDB6;
		font-family: Poppins;
		font-size: 50px;
		font-style: normal;
		font-weight: 600;
		display: inline-block;
		width: 201px;
	}


/*=================================== Стр 2 ============================================*/

.jewels1{
	max-width: 1385px;
	margin: 0 auto;
	padding: 140px 50px;

}

.what {
width: 563px;
margin-right: 38px;
display: inline-block;
}

.we {
	color: #D06B00;
	font-family: Inter;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 13px;
}

.develop {
	color: #0E333D;
	font-family: "Serif Text" sans-serif;
	font-size: 59px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
	margin-bottom: 25px;
}

.variations {
	color: #474747;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.80;
	margin-bottom: 21px;
}

.rectangle {
display: inline-block;
vertical-align: top;
}

.rectangle23 {
	margin-right: 22px
}

