
/*=================================== Fonts folders ============================================*/

@import url("fonts.css");

/*=================================== обнул. ============================================*/

@import url("reset.css");

/*=================================== Стр 1 ============================================*/

body{}

.ImageBusiness {
padding: 1px 0px 20px 456px;
}

h1 {
	color: #37393F;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 1px 500px 3px 456px;


}

.Completely {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 42px;
	padding: 1px 500px 1px 456px;
}

.proactively {
	color: #6B77E5;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	padding: 1px 500px 20px 456px;
}

.customer{
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 40px;
	padding: 1px 500px 40px 456px;

}

.Photo2{
	display: inline-block;
	max-width: 330px;
	vertical-align: top;
	margin-right: 30px;
	padding: 1px 330px 100px 456px;

}

.conteaner {
	display: inline-block;
	margin: auto;
	max-width: 325px;
}

.our {
	color: #37393F;
	font-family: Poppins;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	padding-bottom: 15px;
}

.incubate {
	color: #40DDB6;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	padding-bottom: 23.5px;

}

ul {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
}

li {
	padding-bottom: 30px;
}




/*=================================== Стр 2 ============================================*/

.jewels {
	max-width: 1169px;
	padding: 0 5px;
	font-size: 0;
	margin-left: 216px;
}


.what {
	display: inline-block;
   max-width: 524.5px;
   margin-right: 38px;
}

.we {
	color: #D06B00;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 400;
padding-bottom: 13px;
}

.develop {
	color: #0E333D;
	font-family: Serif Text;
	font-size: 59px;
	font-style: normal;
	font-weight: 400;
	padding-bottom: 25px;
	
}

.variations {
	color: #474747;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;

}

.rectangle {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 100px;
}

.rectangle23 {
	padding-right: 22px;
}

.consulting {
	color: #40DDB6;
	font-family: Poppins;
	font-size: 50px;
	font-style: normal;
	font-weight: 600;
	padding: 10px 600px;
	background-color: #0E333D;
}